* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}



.containerTwo {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/620/8/28/animals-dog-landscape-photography-wallpaper-preview.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logoTwo {
  color: #5B5354;
  font-size: 2em;
  padding: .2em 0em 0em 1em;
}

form, .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 2.4em;
  width: 55%;
  margin-left: auto;

}

input[type=text] {
  width: 67px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid black;
  background-image: url("https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-1.png");
  background-position-x: 100%;
  background-position-y: -7px;
  background-size: 30px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  box-shadow: 3px 3px black, -.2em 0 .4em black;
}

input[type=text]:focus {
  width: 45%;
}






.navbarTwo {
  width: 250px;
  height: 100%;
  background-image: url("https://www.icegif.com/wp-content/uploads/dog-icegif-7.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  right: -250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .8s;
  border-radius: 20px 0 0 20px;
  z-index: 5;
}

.changeTwo {
  right: 0;
}

.nav-itemTwo {
  list-style-type: none;
  margin: 50px;

}

.nav-linkTwo {
  text-decoration: none;
  font-size: 30px;
  border-bottom: none;
  border-top: none;
  color: whitesmoke;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
  transition: .3s ease-in-out;
}

.nav-linkTwo:hover {
  border-bottom: 3px solid bisque;
  border-top: 3px solid bisque;

}




.hamburger-menuTwo {
  width: 35px;
  height: 30px;
  /*background-color: red;*/
  position: fixed;
  top: 34px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.lineTwo {
  width: 100%;
  height: 4px;
  background-color: #262626;
  transition: 0.8s
}



.changeTwo .line-01 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
  /*Makes a X*/
  background-color: bisque;

}

.changeTwo .line-02 {
  opacity: 0;
}

.changeTwo .line-03 {
  transform: rotateZ(405deg) translate(-8px, -6px);
  /*Makes a X*/
  background-color: bisque;

}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0 0 0;
  color: whitesmoke;
}

.topDog {
  font-size: 20px;
}

.forYourDog {
  font-size: 25px;
}

/*----------------------------------------------------------------------------------------------*/


/* Slideshow container 
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;


}


/* Hide the images by default 
.mySlides {
  display: none;
}

/* Next & previous buttons */
/*.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}*/

/* Position the "next button" to the right 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: #78554F;
}

/* Caption text 
.text {
  color: black;
  font-size: 25px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
*/
/*.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.dogLives {
  background-image: url("https://cdn3.vectorstock.com/i/thumb-large/94/17/poster-design-dog-lover-quote-vector-20569417.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*----------------------------Begin of slide affect-----------------------------------*/

/*.theContainerBox {
  background-color: bisque;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.box {
  background-color: steelblue;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 3);
  border-radius: 10px;
  transform: translateX(100%);
  opacity: 0;
  /*Moves it way off screen to the right. 400% for wide screens
  transition: transform 0.5s ease;
}*/

/*will choose every other box.
.box:nth-of-type(even) {
  transform: translateX(-100%)
    /*will bring them in from the left to right
}

.box.show {
  opacity: 1;
  transform: translateX(0);
}

.box h2 {
  font-size: 40px;
}*/

/*----------------------------------------------------------------------------------------*/

/*#box {
  background-color: rgba(40, 40, 190, 255);
  border: 4px solid rgb(20, 20, 120);
  transition: background-color 1s, border 1s;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.vertical {
  color: white;
  font: 32px "Arial";
}

.extra {
  width: 350px;
  height: 350px;
  margin-top: 10px;
  border: 4px solid rgb(20, 20, 120);
  text-align: center;
  padding: 20px;
}*/


/*-------------------------------intersection Observer----------------------------------------*/

.sectionMain {
  background-image: url("https://cdn.shopify.com/s/files/1/0879/0542/products/PC1055@2x.jpg?v=1640117344");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  width: 95%;
  max-width: 550px;
  display: block;
  margin: 0 0 0 .5em;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

}

section,
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.content {
  display: flex;
}

.content>div {
  width: 50%;
}



.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
}

.hidden-right {
  opacity: 0;
  transform: translateX(100%);
}

.hidden-leftTwo {
  opacity: 0;
  transform: translateX(100%);
}

.hidden-rightTwo {
  opacity: 0;
  transform: translateX(100%);
}

.hidden-leftBottom {
  opacity: 0;
  transform: translateY(100%);
}

.hidden-rightBottom {
  opacity: 0;
  transform: translateY(100%);
}

.left-column {
  transition: all 1.5s ease-in-out;

}

.right-column, .right-columnBottom, .right-columnTwo {
  transition: all 1.5s ease-in-out;
  color: whitesmoke;
  font-size: 2em;
  padding: .2em 0 0 .4em;
}

.left-columnTwo {
  transition: all 1.5s ease-in-out;
}

.right-columnTwo {
  transition: all 1.5s ease-in-out;
}

.left-columnBottom {
  transition: all 1.5s ease-in-out;
}

.right-columnBottom {
  transition: all 1.5s ease-in-out;
}





/*Footer--------------------------------------------------------------------------------------*/

footer {
  background-image: url('https://i.pinimg.com/originals/7c/f0/43/7cf0433a27d602044268b2a04300bf30.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.footer {
  background-color: #8F5D31;
  width: 12em;
  height: 12em;
  opacity: .7;
  border-radius: 5px;


}



.icons {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-size: 1.5em;
  padding-top: .2em;
  cursor: pointer;
}



.Information {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  padding-top: 1em;

}


.backToTop {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;

}

/*----------------------------Media query---------------------------------------------*/

@media screen and (min-width: 768px) {
  .logoTwo {
    font-size: 3em;
  }

  form, .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 3.6em;
    width: 65%;
    margin-left: auto;
  }

  input[type=text] {
    width: 100px;
    padding: .5em;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid black;
    background-image: url("https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-1.png");
    background-position-x: 100%;
    background-position-y: -5px;
    background-size: 40px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    box-shadow: 3px 3px black, -.2em 0 .4em black;
  }

  input[type=text]:focus {
    width: 30%;

  }

  .hamburger-menuTwo {
    display: none;

  }

  .navbarTwo {
    background-image: none;
    position: static;

  }

  .nav-listTwo {
    display: flex;
    position: absolute;
    right: 3%;
    top: 12%;


  }

  .nav-linkTwo {
    font-size: 1.1em;
    color: #262626;
    transition: .3s ease-in-out;


  }

  .nav-itemTwo {
    list-style-type: none;
    margin: 1em;

  }

  .nav-linkTwo:hover {
    border-bottom: 3px solid black;
    border-top: 3px solid black;

  }

  .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 80%;
    padding: 5em 0 0 0;
    color: whitesmoke;
  }

  .topDog {
    font-size: 2em;
  }

  .forYourDog {
    font-size: 2.5em;
  }

  .right-column, .right-columnBottom, .right-columnTwo {
    transition: all 1.5s ease-in-out;
    color: whitesmoke;
    font-size: 4em;
    padding: .2em 0 0 .4em;
    position: relative;
    top: 30%;
  }

  .img {
    width: 90%;
    display: block;
    margin: 0 0 0 2em;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;

  }


}