* {
  padding: 0;
  margin: 0;
}

.contain {
  background-color: aqua;
  display: flex;





}

.logoIcon {
  background-color: blue;
  flex: 1;
  gap: 1em;


}

.hamMenu {
  background-color: yellow;
  flex: 1;
  gap: 1em;


}

.searchBar {
  background-color: violet;
  flex: 1;




}

.navbarTwo {
  width: 200px;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2019/08/19/07/45/dog-4415649__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .8s;
  border-radius: 20px 0 0 20px;
}

.changeTwo {
  right: 0;
}

.nav-itemTwo {
  list-style-type: none;
  margin: 50px;

}

.nav-linkTwo {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}




.hamburger-menuTwo {
  width: 20px;
  height: 20px;
  /*background-color: red;*/
  position: fixed;
  top: 0;
  right: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.lineTwo {
  width: 100%;
  height: 2px;
  background-color: #262626;
  transition: 0.8s
}



.changeTwo .line-01 {
  transform: rotateZ(-45deg) translate(-5px, 3px);
  /*Makes a X*/
  background-color: bisque;

}

.changeTwo .line-02 {
  opacity: 0;
}

.changeTwo .line-03 {
  transform: rotateZ(45deg) translate(-4px, -3px);
  /*Makes a X*/
  background-color: bisque;

}

/*----------------------------------------------------------------------------*/

.stuffedMain{
  background-color:green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stuffOne{
  background-color: aqua;
  flex: 1;
}

.stuffTwo{
  background-color: bisque;
  flex: 1;
}