html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-------------------------------------------End of css reset-----------------------------------*/

body html {
  height: 100%;
}

.contain {
  font-family: serif;
  background-color: aqua;
  display: flex;





}

.logoIcon {
  background-color: blue;
  flex: 1;
  gap: 1em;


}

.hamMenu {
  background-color: yellow;
  flex: 1;
  gap: 1em;


}

.searchBar {
  background-color: violet;
  flex: 1;




}

.navbarTwo {
  width: 200px;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2019/08/19/07/45/dog-4415649__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .8s;
  border-radius: 20px 0 0 20px;
}

.changeTwo {
  right: 0;
}

.nav-itemTwo {
  list-style-type: none;
  margin: 50px;

}

.nav-linkTwo {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}




.hamburger-menuTwo {
  width: 20px;
  height: 20px;
  /*background-color: red;*/
  position: fixed;
  top: 0;
  right: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.lineTwo {
  width: 100%;
  height: 2px;
  background-color: #262626;
  transition: 0.8s
}



.changeTwo .line-01 {
  transform: rotateZ(-45deg) translate(-5px, 3px);
  /*Makes a X*/
  background-color: bisque;

}

.changeTwo .line-02 {
  opacity: 0;
}

.changeTwo .line-03 {
  transform: rotateZ(45deg) translate(-4px, -3px);
  /*Makes a X*/
  background-color: bisque;

}

/*----------------------------------------------------------------------------*/

.stuffedMain {
  font-family: serif;
  font-size: 1em;
  width: 100%;

}

.stuffOne {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.stuffToyInfo {
  font-size: .7em;
  display: flex;
  align-self: center;
  position: relative;
  left: 3em;
  
}

.buttonMain {
  display: flex;
  align-self: flex-end;
  

}

.stuffToyBtn {
  background-color: #3E7DB5;
  font-size: .7em;
  padding: .3em;
  border-radius: 10px 10px;
  width: 6em;
  border: none;
  position: relative;
  right: 5em;  
  bottom: 6em;
}

.stuffToyImg {
  background-image: url('https://thumbs.dreamstime.com/b/stuffed-dog-8132268.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;

}



@media screen and (min-width: 768px) {
  .stuffedMain {
    display: flex;
  }
}