* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body html {
  height: 100%;
}





#main {
  text-align: center;
  background-color: grey;
  width: 100%;

}

header {
  text-align: center;
  padding: 1em;
  background-color: black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.5em;

}

img {
  /*float: right;
  margin-right: 15px;
  padding-bottom: 12px;*/
  text-align: center;
  width: 100%;
  opacity: 0.35;
}

img:hover {
  opacity: 1;
  transition: opacity 0.5s;
  transition: delay.1s;
}

button {
  background-color: blue;
  color: black;
  border: 2px solid black;
  border-radius: 15px 15px;
  margin: 5px;
  padding: .5em;
}

ul {

  list-style-type: none;
}

button:hover {
  background-color: lightgray;
}

.man {
  background-color: whitesmoke;
}

.search {
  background-color: whitesmoke;
  color: black;
}

.ready {

  background-color: whitesmoke;
  border: 2px solid black;
}

@media screen and (min-width: 700px) {
  img {
    float: right;
    width: 25%;
    padding-top: 2.5em;
    padding-right: 2em;
    }

     .icdI {
      height: 17em;
    }

  #main {
    text-align: left;
  }

  .abbImplant {
  height: 20em;
  }

  button{
    margin:1.7em 0 0 1em;
  }
}