* {
  margin: 0;
  padding: 0;
}
html body{
  height: 100%;
}

#main {
  background-color: gray;
  width: 100%;

}

header {
  text-align: center;
  line-height: 2.5em;
  background-color: darkblue;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  width: 100%;
}

img {
  /*float: right;*/
  width: 100%;
  opacity: 0.35;
}

img:hover {
  opacity: 1;
  transition: opacity 0.5s;
  transition: delay 0.1s;
}

button {
  background-color: darkblue;
  color: whitesmoke;
  border: 2px solid blue;
  padding: .5em;
  border-radius: 5px;
  margin: .5em 2em .5em 0;
}

.Manual {
  background-color: whitesmoke;
  border: 2px solid black;
  color: darkblue;
  font-weight: bold;
}

.check {
  background-color: whitesmoke;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  margin-left: 1.2em;
}

.bio-pace {
  margin-left: 1.2em;
}

button:hover {
  background-color: gray;
}

nav ul {
  text-align: center;
}

.bioImplant {
  list-style-type: none;
}

@media screen and (min-width: 700px) {
  img {
    width: 15em;
    height: 14em;
    margin-top: 20px;
    margin-right: 15px;
    float: right;
  }
  .bioImplant{
    height: 20em;
  }
  nav ul{
    text-align: left;
    padding: 1em;
  }
  .bio-pace{
    margin-left: 0;
  }
  .check{
    margin-left: 0;
  }
}