* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body html {
  height: 100%;
}


#main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightskyblue;
  width: 100%;
}

header {
  text-align: center;
  padding-top: 1.5em;
  background-color: darkblue;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.5em;
  height: 80px;
}

.bosImplants {
  text-align: center;


}


img {
  /*float: right;
  margin-right: 15px;
  padding-bottom: 12px;*/
  width: 100%;
  opacity: 0.35;

}

img:hover {
  opacity: 1;
  transition: opacity 0.5s;
  transition: delay.1s;
}



button {
  padding: .5em;
  background-color: lightblue;
  color: darkblue;
  border: 2px solid blue;
  border-radius: 15px 15px;
  font-weight: bold;
  margin: 5px;
}

.off {
  color: white;
  background-color: blue;
  border: 2px solid whitesmoke;
}

.off:hover {
  background-color: black;
}

.man {
  color: white;
  background-color: blue;
  border: 2px solid whitesmoke;
}

.man:hover {
  background-color: black;
}

button:hover {
  background-color: gray;
}


@media screen and (min-width: 700px) {
  img {
    width: 15em;
    height: 14em;
    margin-top: 20px;
    margin-right: 15px;
    float: right;
}
  .bosImplants{
    text-align: left;
  }

}