* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 10px;
	z-index: 99;
	font-size: 12px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
}

#myBtn:hover {
	background-color: #555;
}

/*main container*/
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: playball;
	width: 100%;
}

/*Top div for nav bar*/
.top-div {
	background-image: url("https://s3-eu-west-1.amazonaws.com/video.gallereplay.com/landing/sliderone-timelapseloop-tyler.gif");
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}
/*Name on nav bar left side of top div screen*/
.name {
	color: whitesmoke;
	font-family: playball;
	font-size: 2em;
	margin: 0.1em;
	cursor: pointer;
}

.name:hover {
	color: #b5bdc7;
	font-size: 2.4em;
}
/*Nav projects contact and about*/
.one {
	text-decoration: none;
	font-family: playball;
	font-size: 1.5em;
	padding: 0.5em;
	color: whitesmoke;
	cursor: pointer;
}

.one:hover {
	color: black;
	font-size: 2em;
}
/*Down angle icon */
.tds-icon {
	width: 30%;
	margin: 0.5em;
}

.two,
a {
	text-decoration: none;
	color: black;
}

.projects {
	text-align: center;
	color: whitesmoke;
	background-image: linear-gradient(gray, black, gray);
}

.model-s {
	width: 100%;
	height: 100vh;
	background-image: url("https://cdn.carbuzz.com/gallery-images/2013-tesla-model-s-front-view-carbuzz-568819.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* dropdown nav bar*/

/* Dropdown Button */
.dropbtn {
	background-color: #b5bdc7;
	color: black;
	border-radius: 20px 20px;
	margin-top: 5px;
	padding: 8px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	left: 40%;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: white;
	border: none;
	border-radius: 10px 10px;
	padding: 10px;
	text-align: center;
	min-width: 75px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .two {
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	color: rgb(77, 76, 76);
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: transparent;
	color: transparent;
}

header {
	text-align: center;
	color: #232324;
}

.model--s {
	font-size: 3em;
	letter-spacing: 2px;
	font-weight: lighter;
}

.touchless {
	text-decoration: underline;
}

.touchless:hover {
	color: black;
}

.btns,
.btn {
	font-size: 1.1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	bottom: -50%;
	gap: 1em;
}

.custom-order {
	border-radius: 15px 15px;
	border: none;
	padding: 0.2em;
	background-color: #35373d;
	color: whitesmoke;
	font-size: 0.8em;
	cursor: pointer;
}

.fa-angle-down {
	color: rgb(213, 20, 20);
	animation: bounce;
	animation-duration: 5s;
	animation-delay: 5s;
	animation-iteration-count: infinite; /*To let animation repeat*/
	cursor: pointer;
}

.existing-inventory {
	border-radius: 15px 15px;
	border: none;
	padding: 0.2em;
	background-color: #e3dfdd;
	color: black;
	cursor: pointer;
}

.model-s-specs {
	background-image: url("https://i.gifer.com/6h6.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

.modelS {
	color: whitesmoke;
	padding: 0.3em;
	font-size: 3em;
	font-weight: lighter;
}

.plaid {
	color: whitesmoke;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.performance {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	bottom: -25%;
}

table {
	text-align: center;
	padding: 0.8em;
}

th {
	font-size: 1.2em;
	color: whitesmoke;
}

td {
	font-size: 0.8em;
	color: whitesmoke;
}

button,
.s-order-now {
	border-radius: 15px 15px;
	border: 2px solid whitesmoke;
	background-color: transparent;
	color: whitesmoke;
	font-size: 0.7em;
	padding: 0.5em;
	font-weight: bolder;
	cursor: pointer;
}

.history-modelS {
	background-image: url("https://images.squarespace-cdn.com/content/v1/5419e54ae4b0de0029a4a73f/1507313443795-ONAGZ0SZ6MP6YSSMMMMM/Tesla+Gif2.gif?format=1500w");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 1em;
	color: whitesmoke;
	font-family: "Old Standard TT", serif;
	font-size: 0.7em;
}

.modelS-history {
	color: whitesmoke;
}

.history {
	color: red;
	font-weight: lighter;
}

.model-x {
	background-image: url("https://cdn.shopify.com/s/files/1/0043/8471/8938/products/160443105956611262.jpg?v=1604431068");
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.model-x-specs {
	background-image: url("https://media4.giphy.com/media/f1ilU6Cphqogw/giphy.gif");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
.model--x {
	color: black;
	font-size: 3em;
	letter-spacing: 2px;
	font-weight: lighter;
}
.X-model {
	color: black;
	padding: 0.3em;
	font-size: 3em;
	font-weight: lighter;
}

.plaid-x {
	color: black;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.touchles,
.online {
	color: black;
}

.touchles:hover {
	color: gray;
}

.touchles {
	text-decoration: underline;
}

.X-perform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	bottom: -25%;
}

.history-modelX {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/535/996/5/clouds-white-tesla-falcon-model-x-hd-wallpaper-preview.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	padding: 1em;
	color: whitesmoke;
	font-family: "Old Standard TT", serif;
	font-size: 0.7em;
}
/*.dignity-health {
	position: relative;
}*/

/* main container for header in dignity health*/
.dignity-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-right: 2em;
}
/*Dignity Health Icon and name*/

.iconD {
	width: 40%;
	padding-bottom: 1em;
	padding-left: 0.5em;
}

/*search icon within button on header of DignityHealth------------------------------------*/

.sb-example-1 .search {
	width: 5%;
	position: relative;
	left: 70%;
	display: flex;
}
.sb-example-1 .searchTerm {
	width: 5%;
	border: 3px solid#53565A;
	border: none;
	border-right: none;
	padding: 2px;
	border-radius: 15px 15px;
	outline: none;
	color: #9dbfaf;
}
.sb-example-1 .searchTerm:focus {
	color: #53565a;
}
.sb-example-1 .searchButton {
	width: 40px;
	height: 50px;
	border: 1px solid #53565a;
	border: none;
	background: white;
	text-align: center;
	color: #53565a;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
/*-----------------------------------------------------------------------------*/

/* hamburger menu and slideout-------------------------------------------------*/

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 6em; /* Ajust the top of slide out menu*/
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;

	/*text-align: center;*/
}
/*hamburger icon*/
.ham-icon {
	font-size: 2em;
	color: #c85200;
}
/*Menu under the hamburger icon*/
.menu {
	font-size: 0.3em;
	color: #c85200;
	position: relative;
	bottom: 2em;
}

.sidenav a {
	padding: 14px 14px 14px 32px;
	text-decoration: none;
	font-size: 1em;
	color: #4d525a;
	background-color: white;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #645f5f;
}
/* Move the hamburger drop down menu to the right*/
.anchor-hospital a {
	border-bottom: 1px solid rgb(194, 191, 191);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	position: relative;
	top: 5em;
}

.sidenav .closebtn {
	position: absolute;
	top: -0.5em;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
/* Begining for the search bar and icon on hamburger slide out menu*/
/*Moves and adjust the size on the search button*/
.sb-example-hospital .search-d {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

.sb-example-hospital .searchTerm-d {
	width: 90%;
	border: 2px solid lightgray;
	/*border-right: none;*/
	padding: 15px;
	border-radius: 20px 20px;
	/*outline: none;*/
	color: #9dbfaf;
	position: absolute;
	top: -1em;
}
/*
.sb-example-hospital .searchTerm-d:focus {
	color: black;
}*/
/* Moves and adjust size on the search icon*/
.sb-example-hospital .searchButton-d {
	width: 40px;
	height: 30px;
	/*border-bottom: 2px solid lightgray;
	border-top: 2px solid lightgray;*/
	background: white;
	text-align: center;
	color: #76777a;
	/*border-radius: 0 5px 5px 0;*/
	cursor: pointer;
	font-size: 1.2em;
	height: 0.5em;
	position: absolute;
	right: 2.2em;
	top: -0.5em;
}

/* End of style for hamburger slide out drop down search icon bar-------------------------------------------*/

/*The schedule appointment button on hamburger slide out menu--------------------------------*/
.schedule-d {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

.scheduleD {
	border: none;
	position: absolute;
	top: 4.5em;
}

.hospital-schedule {
	width: 96%;
	border: 2px solid #0079d0;
	color: #0079d0;
	padding: 1.5em;
	border-radius: 20px 20px;
	position: absolute;
	top: 4em;
}

/* End of schedule appointment button for hamburger  slide out menu----------------------------------*/

/* main ccontainer for chandler regional medical center dropdown menu*/
#hospital-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 2em;
	color: #554d56;
	background-color: #f5f5f5;
	padding: 1em;
}
/* for chandler regional medical center text*/
.crmc {
	padding-left: 0.2em;
	color: black;
}

/*Button for Down Arrow for dropdown menu---------------------------------------*/

/* Dropdown Button */
.dropbtn-hospital {
	position: relative;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}
/* Controls position of down arrow icon*/
#down-arrow,
.fa-chevron-down {
	position: absolute;
	left: 0.5em;
	bottom: 0.2em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-hospital {
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/*#dropdown-hospital-content {
	display: none;
	position: absolute;
	right: 0;

	background-color: #f1f1f1;
	min-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}*/

/* Links inside the dropdown */
#dropdown-hospital-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px #adadad solid;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content-dignity {
	display: none;
	position: absolute;
	right: 0.1%;
	background-color: #f1f1f1;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.show {
	display: block;
}

/* Change color of dropdown links on hover */
/*
.dropdown-hospital-content a:hover {
	background-color: #ddd;
}*/
/* Show the dropdown menu on hover */
/*
.dropdown-hospital:hover .dropdown-hospital-content {
	display: block;
}*/
/* Change the background color of the dropdown button when the dropdown content is shown */
/*
.dropdown-hospital:hover .dropbtn-hospital {
	color: #dc925e;
}*/
/*--------------------------------------------------------------------------*/
/* main container below chandler regional medicaL center-----------------------------*/
.chandler-nav {
	width: 100%;
	font-size: 0.7em;
	position: relative;
}

.anchors-hospital {
	position: absolute;
	left: 2em;
	top: 0.5em;
}

/*anchors below Chandler regional Medical Center*/
.chandler-nav a {
	background-color: #f5f5f5;
	color: #554d56;
}

/*--------------------------------------------------------------------------*/
.HospitalPic {
	background-image: url("images/chandler-pic.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	margin-top: 2em;
	z-index: 1;
}

/*Media Queries------------------------------------------*/

@media screen and (min-width: 350px) {
	.dropdown {
		left: 48%;
	}
}

@media screen and (min-width: 500px) {
	.dropdown {
		left: 54%;
	}
}

@media screen and (min-width: 600px) {
	.dropdown {
		left: 55%;
	}
}

@media screen and (min-width: 700px) {
	.name {
		float: left;
		padding: 0.8em;
	}
}

@media screen and (min-width: 700px) {
	.one {
		float: right;
		padding-left: 2em;
		margin-right: 0.5em;
	}
}

@media screen and (max-width: 700px) {
	.top-div {
		background-image: url("https://www.greenpeace.org.au/wp/wp-content/uploads/2015/05/tumblr_njzjlss9H71tv1qiho1_1280.gif");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (max-width: 700px) {
	.one,
	.name {
		color: black;
	}
}

@media screen and (min-width: 700px) {
	.one,
	.name {
		color: whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	.model-s {
		background-image: url("images/model-s-three.jpg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (min-width: 700px) {
	h1,
	.touchless,
	p {
		color: whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	.touchless:hover {
		color: lightblue;
	}
}

@media screen and (min-width: 800px) {
	.custom-order,
	.existing-inventory {
		width: 15em;
		padding: 10px;
	}
}

@media screen and (max-width: 330px) {
	.custom-order,
	.existing-inventory,
	.custom,
	.inventory {
		padding: 0.2em;
	}
}

@media screen and (min-width: 700px) {
	.btns {
		font-size: 1.2em;
		gap: 5em;
		position: relative;
		bottom: -40%;
	}
}

@media screen and (min-width: 700px) {
	.model-s-specs {
		background-image: url("https://media2.giphy.com/media/xT39DhBvK92OIeFsVG/giphy.gif");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (min-width: 700px) {
	.performance {
		flex-direction: row;
		color: whitesmoke;
		position: relative;
		bottom: -35%;
	}
}

@media screen and (min-width: 700px) {
	table {
		width: 80%;
	}
}

@media screen and (min-width: 700px) {
	th {
		font-size: 2em;
	}
}

@media screen and (min-width: 700px) {
	.s-order-now {
		border-radius: 20px 20px;
		padding: 1em;
		background-color: transparent;
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	th,
	td {
		color: whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	.modelS,
	.plaid {
		color: black;
	}
}

@media screen and (min-width: 700px) {
	.modelS,
	.model--s {
		font-size: 4em;
	}
}

@media screen and (min-width: 600px) {
	.history-modelS {
		font-size: 1em;
	}
}

@media screen and (min-width: 700px) {
	.btn {
		font-size: 1.1em;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
		position: relative;
		bottom: -50%;
		gap: 5em;
	}
}

@media screen and (min-width: 700px) {
	.model-x-specs {
		background-image: url("https://cdnblob.fastly.carvana.io/2000558766/edo-cleaned-floor.gif");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
}

@media screen and (min-width: 700px) {
	.X-model,
	.plaid-x {
		color: rgb(162, 33, 33);
		font-size: 3em;
	}
}

@media screen and (min-width: 700px) {
	.X-perform {
		flex-direction: row;
		color: whitesmoke;
		position: relative;
		bottom: -35%;
	}
}

@media screen and (min-width: 700px) {
	.model-x {
		background-image: url("https://cdn.wallpapersafari.com/28/62/rlyzNs.jpg");
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		background-size: cover;
	}
}

/*Dignity health media query*/
@media screen and (min-width: 650px) {
	.iconD {
		width: 40%;
	}
	label {
		font-size: 1em;
	}
	select {
		width: 65%;
	}
}

/*Dignity health media query*/
@media screen and (min-width: 700px) {
	.sb-example-1 .search {
		position: relative;
		left: 50%;
		display: flex;
	}
	/*Allows size of search button and position*/
	.sb-example-1 .searchTerm {
		position: absolute;
		left: -14em;
		top: 0.6em;
		width: 12em;
		height: 2em;
		border: 1px solid#53565A;
		padding: 0.5em;
		border-radius: 20px 20px;
		/*outline: none;*/
		color: #9dbfaf;
	}
	.iconD {
		width: 30%;
	}
	.dignity-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		top: 1em;
		padding-right: 2em;
	}
	.crmc {
		padding-left: 0.4em;
	}
}

@media screen and (min-width: 700px) {
	.sb-example-1 .searchTerm:hover {
		border-color: blue;
	}
}
/* Allows poition of the search icon beside hamburger menu icon*/
@media screen and (min-width: 700px) {
	.sb-example-1 .searchButton {
		position: absolute;
		right: 1.5em;
		top: 0.7em;
		font-size: 1em;
		height: 2em;
	}
}
