* {
	margin: 0;
	padding: 0;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: playball;
}

.top-div {
	background-image: url("https://s3-eu-west-1.amazonaws.com/video.gallereplay.com/landing/sliderone-timelapseloop-tyler.gif");
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.name {
	color: whitesmoke;
	font-family: playball;
	font-size: 1.5em;
	margin: 0.1em;
}

.one {
	text-decoration: none;
	font-family: playball;
	font-size: 1em;
	padding: 0.5em;
	color: whitesmoke;
}

.one:hover {
	color: black;
	font-size: 1.2em;
}

.tds-icon {
	width: 30%;
	margin: 0.5em;
}

.two,
a {
	text-decoration: none;
	color: black;
}

.projects {
	text-align: center;
	color: black;
}

.model-s {
	width: 100%;
	height: 100vh;
	background-image: url("https://cdn.carbuzz.com/gallery-images/2013-tesla-model-s-front-view-carbuzz-568819.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* dropdown nav bar*/

/* Dropdown Button */
.dropbtn {
	background-color: #b5bdc7;
	color: black;
	border-radius: 20px 20px;
	margin-top: 5px;
	padding: 8px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	left: 40%;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: white;
	border: none;
	border-radius: 10px 10px;
	padding: 10px;
	text-align: center;
	min-width: 75px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .two {
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	color: rgb(77, 76, 76);
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: transparent;
	color: transparent;
}

header {
	text-align: center;
	color: #232324;
}

.model--s {
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: normal;
}

.touchless {
	text-decoration: underline;
}

.touchless:hover {
	color: black;
}

.btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	bottom: -10em;
	gap: 1em;
}

.custom-order {
	border-radius: 15px 15px;
	border: none;
	padding: 0.2em;
	background-color: #35373d;
	color: whitesmoke;
	font-size: 0.8em;
}

.fa-angle-down {
	color: whitesmoke;
	animation: bounce;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: infinite; /*To let animation repeat*/
}

.existing-inventory {
	border-radius: 15px 15px;
	border: none;
	padding: 0.2em;
	background-color: #e3dfdd;
}

.model-s-specs {
	background-image: url("https://images.squarespace-cdn.com/content/v1/5e9e38f5c9e985731e19ab35/1602111881498-B25QRWEPDSRMFOUFZJDJ/ezgif.com-gif-maker+%281%29.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.modelS {
	color: black;
	padding: 0.3em;
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: normal;
}

.plaid {
	color: rgb(82, 77, 77);
	font-size: 1.5em;
	letter-spacing: 2px;
}

.performance {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	bottom: -50%;
	color: #0c0b0b;
}

table {
	text-align: center;
}

th {
	font-size: 1em;
}

td {
	font-size: 0.8em;
}

.s-order-now {
	border-radius: 15px 15px;
	border-color: black;
	background-color: transparent;
	color: black;
	font-size: 0.7em;
	padding: 0.5em;
}

@media screen and (min-width: 350px) {
	.dropdown {
		left: 48%;
	}
}

@media screen and (min-width: 500px) {
	.dropdown {
		left: 54%;
	}
}

@media screen and (min-width: 600px) {
	.dropdown {
		left: 55%;
	}
}

@media screen and (min-width: 700px) {
	.name {
		float: left;
		padding: 0.8em;
	}
}

@media screen and (min-width: 700px) {
	.one {
		float: right;
		padding-left: 2em;
		margin-right: 0.5em;
	}
}

@media screen and (max-width: 700px) {
	.top-div {
		background-image: url("https://www.greenpeace.org.au/wp/wp-content/uploads/2015/05/tumblr_njzjlss9H71tv1qiho1_1280.gif");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (max-width: 700px) {
	.one,
	.name {
		color: black;
	}
}

@media screen and (min-width: 700px) {
	.one,
	.name {
		color: whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	.model-s {
		background-image: url("images/model-s-three.jpg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (min-width: 700px) {
	h1,
	.touchless,
	p {
		color: whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	.touchless:hover {
		color: lightblue;
	}
}

@media screen and (min-width: 800px) {
	.custom-order,
	.existing-inventory {
		width: 15em;
		padding: 10px;
	}
}

@media screen and (max-width: 330px) {
	.custom-order,
	.existing-inventory {
		padding: 0.2em;
	}
}

@media screen and (min-width: 800px) {
	.btns {
		position: relative;
		bottom: -60%;
	}
}

@media screen and (min-width: 700px) {
	.model-s-specs {
		background-image: url("https://media2.giphy.com/media/xT39DhBvK92OIeFsVG/giphy.gif");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (min-width: 700px) {
	.performance {
		color: whitesmoke;
		position: relative;
		bottom: -50%;
	}
}

@media screen and (min-width: 700px) {
	table {
		width: 80%;
	}
}

@media screen and (min-width: 700px) {
	th {
		font-size: 2em;
	}
}

@media screen and (min-width: 700px) {
	.s-order-now {
		border-radius: 20px 20px;
		background-color: transparent;
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
}
