* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: playball;
	width: 100%;
}

.top-div {
	background-image: url("https://s3-eu-west-1.amazonaws.com/video.gallereplay.com/landing/sliderone-timelapseloop-tyler.gif");
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.name {
	color: whitesmoke;
	font-family: playball;
	font-size: 2em;
	margin: 0.1em;
	cursor: pointer;
}

.name:hover {
	color: #b5bdc7;
	font-size: 2.4em;
}

.one {
	text-decoration: none;
	font-family: playball;
	font-size: 1.5em;
	padding: 0.5em;
	color: whitesmoke;
	cursor: pointer;
}

.one:hover {
	color: black;
	font-size: 2em;
}

.tds-icon {
	width: 30%;
	margin: 0.5em;
}

.two,
a {
	text-decoration: none;
	color: black;
}

.projects {
	text-align: center;
	color: whitesmoke;
	background-image: linear-gradient(gray, black, gray);
}

.model-s {
	width: 100%;
	height: 100vh;
	background-image: url("https://cdn.carbuzz.com/gallery-images/2013-tesla-model-s-front-view-carbuzz-568819.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* dropdown nav bar*/

/* Dropdown Button */
.dropbtn {
	background-color: #b5bdc7;
	color: black;
	border-radius: 20px 20px;
	margin-top: 5px;
	padding: 8px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	left: 40%;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: white;
	border: none;
	border-radius: 10px 10px;
	padding: 10px;
	text-align: center;
	min-width: 75px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .two {
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	color: rgb(77, 76, 76);
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: transparent;
	color: transparent;
}

header {
	text-align: center;
	color: #232324;
}

.model--s {
	font-size: 3em;
	letter-spacing: 2px;
	font-weight: lighter;
}

.touchless {
	text-decoration: underline;
}

.touchless:hover {
	color: black;
}

.btns,
.btn {
	font-size: 1.1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	bottom: -50%;
	gap: 1em;
}

.custom-order {
	border-radius: 15px 15px;
	border: none;
	padding: 0.2em;
	background-color: #35373d;
	color: whitesmoke;
	font-size: 0.8em;
	cursor: pointer;
}

.fa-angle-down {
	color: rgb(213, 20, 20);
	animation: bounce;
	animation-duration: 5s;
	animation-delay: 5s;
	animation-iteration-count: infinite; /*To let animation repeat*/
	cursor: pointer;
}

.existing-inventory {
	border-radius: 15px 15px;
	border: none;
	padding: 0.2em;
	background-color: #e3dfdd;
	color: black;
	cursor: pointer;
}

.model-s-specs {
	background-image: url("https://i.gifer.com/6h6.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

.modelS {
	color: whitesmoke;
	padding: 0.3em;
	font-size: 3em;
	font-weight: lighter;
}

.plaid {
	color: whitesmoke;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.performance {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	bottom: -35%;
}

table {
	text-align: center;
	padding: 0.8em;
}

th {
	font-size: 1.2em;
	color: whitesmoke;
}

td {
	font-size: 0.8em;
	color: whitesmoke;
}

button,
.s-order-now {
	border-radius: 15px 15px;
	border: 2px solid whitesmoke;
	background-color: transparent;
	color: whitesmoke;
	font-size: 0.7em;
	padding: 0.5em;
	font-weight: bolder;
	cursor: pointer;
}

.history-modelS {
	background-image: url("https://images.squarespace-cdn.com/content/v1/5419e54ae4b0de0029a4a73f/1507313443795-ONAGZ0SZ6MP6YSSMMMMM/Tesla+Gif2.gif?format=1500w");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 1em;
	color: whitesmoke;
	font-family: "Old Standard TT", serif;
	font-size: 0.7em;
}

.modelS-history {
	color: whitesmoke;
}

.history {
	color: red;
	font-weight: lighter;
}

.model-x {
	background-image: url("https://cdn.shopify.com/s/files/1/0043/8471/8938/products/160443105956611262.jpg?v=1604431068");
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.model-x-specs {
	background-image: url("https://media4.giphy.com/media/f1ilU6Cphqogw/giphy.gif");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
.model--x {
	color: black;
	font-size: 3em;
	letter-spacing: 2px;
	font-weight: lighter;
}
.X-model {
	color: black;
	padding: 0.3em;
	font-size: 3em;
	font-weight: lighter;
}

.plaid-x {
	color: black;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.touchles,
.online {
	color: black;
}

.touchles:hover {
	color: gray;
}

.touchles {
	text-decoration: underline;
}

.X-perform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	bottom: -35%;
}

.history-modelX {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/535/996/5/clouds-white-tesla-falcon-model-x-hd-wallpaper-preview.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	padding: 1em;
	color: whitesmoke;
	font-family: "Old Standard TT", serif;
	font-size: 0.7em;
}

@media screen and (min-width: 350px) {
	.dropdown {
		left: 48%;
	}
}

@media screen and (min-width: 500px) {
	.dropdown {
		left: 54%;
	}
}

@media screen and (min-width: 600px) {
	.dropdown {
		left: 55%;
	}
}

@media screen and (min-width: 700px) {
	.name {
		float: left;
		padding: 0.8em;
	}
}

@media screen and (min-width: 700px) {
	.one {
		float: right;
		padding-left: 2em;
		margin-right: 0.5em;
	}
}

@media screen and (max-width: 700px) {
	.top-div {
		background-image: url("https://www.greenpeace.org.au/wp/wp-content/uploads/2015/05/tumblr_njzjlss9H71tv1qiho1_1280.gif");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (max-width: 700px) {
	.one,
	.name {
		color: black;
	}
}

@media screen and (min-width: 700px) {
	.one,
	.name {
		color: whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	.model-s {
		background-image: url("images/model-s-three.jpg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (min-width: 700px) {
	h1,
	.touchless,
	p {
		color: whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	.touchless:hover {
		color: lightblue;
	}
}

@media screen and (min-width: 800px) {
	.custom-order,
	.existing-inventory {
		width: 15em;
		padding: 10px;
	}
}

@media screen and (max-width: 330px) {
	.custom-order,
	.existing-inventory,
	.custom,
	.inventory {
		padding: 0.2em;
	}
}

@media screen and (min-width: 700px) {
	.btns {
		font-size: 1.2em;
		gap: 5em;
		position: relative;
		bottom: -40%;
	}
}

@media screen and (min-width: 700px) {
	.model-s-specs {
		background-image: url("https://media2.giphy.com/media/xT39DhBvK92OIeFsVG/giphy.gif");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media screen and (min-width: 700px) {
	.performance {
		flex-direction: row;
		color: whitesmoke;
		position: relative;
		bottom: -35%;
	}
}

@media screen and (min-width: 700px) {
	table {
		width: 80%;
	}
}

@media screen and (min-width: 700px) {
	th {
		font-size: 2em;
	}
}

@media screen and (min-width: 700px) {
	.s-order-now {
		border-radius: 20px 20px;
		padding: 1em;
		background-color: transparent;
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	th,
	td {
		color: whitesmoke;
	}
}

@media screen and (min-width: 700px) {
	.modelS,
	.plaid {
		color: black;
	}
}

@media screen and (min-width: 700px) {
	.modelS,
	.model--s {
		font-size: 4em;
	}
}

@media screen and (min-width: 600px) {
	.history-modelS {
		font-size: 1em;
	}
}

@media screen and (min-width: 700px) {
	.btn {
		font-size: 1.1em;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
		position: relative;
		bottom: -50%;
		gap: 5em;
	}
}

@media screen and (min-width: 700px) {
	.model-x-specs {
		background-image: url("https://cdnblob.fastly.carvana.io/2000558766/edo-cleaned-floor.gif");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
}

@media screen and (min-width: 700px) {
	.X-model,
	.plaid-x {
		color: rgb(162, 33, 33);
		font-size: 3em;
	}
}

@media screen and (min-width: 700px) {
	.X-perform {
		flex-direction: row;
		color: whitesmoke;
		position: relative;
		bottom: -35%;
	}
}

@media screen and (min-width: 700px) {
	.model-x {
		background-image: url("https://cdn.wallpapersafari.com/28/62/rlyzNs.jpg");
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		background-size: cover;
	}
}
