* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body html {
  height: 100%;
}

.head {
  background-image: url("/images/mobileCoffee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo{
  font-family:smooch ;
}

header {
  background-color: #360D0C;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

.nav-bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo {
  font-size: 3em;
}

.navLink {
  transition: 1s;
}

.navLink:hover {
  color: #BB8484;
}

.ham {
  display: none;
  cursor: pointer;
}

.barOne {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media screen and (max-width:768px) {
  .ham {
    display: block;
  }

  .ham.active .barOne:nth-child(2) {
    opacity: 0;
  }

  .ham.active .barOne:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .ham.active .barOne:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: 100%;
    top: 70px;
    gap: .5em;
    flex-direction: column;
    align-items: flex-end;
    background-color: #262622;
    width: 50%;
    padding: .5em;
    transition: 0.7s;

  }

  .navMenu.active {
    left: 50%;
  }

}