* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body html {
  height: 100%;
}



/*Background image for main page*/
.head {
  background-image: url("/images/mobileCoffee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}



header {
  background-color: #360D0C;
}

li {
  list-style-type: none;

}

a {
  color: white;
  text-decoration: none;
}

.navItem {

  font-size: 1.5em;
}

.nav-bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  border-radius: 1% 0 0 100%
}

.logo {
  font-size: 3em;
  font-family: smooch;
}

.navLink {
  transition: 0.8s;
}

.navLink:hover {
  color: #360D0C;
}

.ham {
  display: none;
  cursor: pointer;
}

.barOne {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.restRelax {
  font-size: 2em;
  font-family: serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

#mainBtn {
  padding: 1em;
  border-radius: 20px 20px;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

#mainBtn:hover {
  color: #E2B874;
  border: 2px solid #E2B874;
}


.mainPageBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}





.menuCoffee {
  color: whitesmoke;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 1em;
  padding-top: .5em;
  background-image: url("https://media4.giphy.com/media/65J8DxZ9ojfBxBl3Gw/giphy-downsized-large.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15vh;

}

.coffeeMenu {
  color: whitesmoke;



}

img {
  width: 100%;
}

.coffeeType {
  text-align: center;
  font-size: 1.5em;
  color: #360D0C;

}

.coffeeDescription {
  text-align: center;
  padding: .5em;
}

form {
  width: 100%;
  text-align: center;
  padding: .5em;
  background-color: #360D0C;
  color: whitesmoke;

}

.checkOut {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5BGW6q_f4--119PL72f6M_dr2JaE9AzAe3w&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 1em;
}



#creditCard{
  background: transparent;
}





#nameForm, #emailForm {
  background-color: transparent;

}





input[type=text] {
  background-color: transparent;
  border: 2px solid whitesmoke;
  margin: .5em;
  border-radius: 5px;
}

input[type=email] {
  background-color: transparent;
  border: 2px solid whitesmoke;
  margin: .5em;
  border-radius: 5px;
}

input[type=tel] {
  background-color: transparent;
  border: 2px solid whitesmoke;
  margin: .5em;
  border-radius: 5px;
}

input[type=submit] {
  background-color: transparent;
  border: 2px solid whitesmoke;
  margin: .5em;
  border-radius: 5px;
}

input:hover {
  background-color: #fabfa8;
  cursor: pointer;
}

#submit {
  background-color: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  padding: 1em;
  margin: .5em;
  border-radius: 20px 20px;
  cursor: pointer;
}

#submit:hover {
  background-color: #fabfa8;
  color: black;
}




.coffeeContainer {
  background-color: #E3BB85;
  color: black;

}


.btnS {
  display: none;
}

#btnOne {
  display: none;
}

.coffeeOne {

  flex: 1;

}

.coffeeTwo {

  flex: 1;
}

.coffeeThree {

  flex: 1;
}

.coffeeFour {

  flex: 1;
}

.coffeeFive {

  flex: 1;
}

.coffeeSix {

  flex: 1;
}






@media screen and (max-width:768px) {
  .ham {
    display: block;
  }

  .ham.active .barOne:nth-child(2) {
    opacity: 0;
  }

  .ham.active .barOne:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .ham.active .barOne:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: 100%;
    top: 70px;
    gap: .5em;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E2B874;
    width: 50%;
    padding: .5em;
    transition: 0.7s;

  }

  .navMenu.active {
    left: 50%;
  }

}

@media screen and (min-width:780px) {
  img {
    width: 50%;
    height: 90vh;
  }

  .coffeeContainer {
    background-color: transparent;
    float: right;
    width: 50%;
    position: relative;
    top: 0em;
  }

  form {
    display: none;
    width: 100%;
  }

  .restRelax {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 2.5em;
  }

  .checkOut form {
    display: block;
  }



  .navLink:hover {
    color: #E2B874;
  }



  .btnS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
  }

  #btnOne, #btnTwo, #btnThree {
    display: block;
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    padding: .5em;
    border-radius: 20px 20px;
  }

  #btnOne:hover, #btnTwo:hover, #btnThree:hover {
    color: #E3BB85;
    border: 3px solid #E3BB85;
    transition: 0.75s;
  }

  .coffeeType {
    color: whitesmoke;
    padding-top: 4em;
  }

  .coffeeDescription {
    color: whitesmoke;
  }

  .menuCoffee {
    letter-spacing: 3em;
    font-size: 2.5em;
    padding: .2em 0 0 2.5em;
    font-family: cursive;
  }



  #nameForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    font-weight: bold;
    font-size: 1.2em;


  }

  #emailForm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
  }

  #submit {
    font-weight: bold;
    font-size: 1em;
    
    

  }

  .first, .last {
    position: relative;
    right: 1em;
    bottom: .7em;
  }


  input[type=text] {
    background-color: transparent;
    border: 2px solid whitesmoke;
    margin: 0 3.7em 2em 0;
    border-radius: 5px;
  }

  input:hover {
    background-color: #E2B874;
  }

}