* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body html {
  height: 100%;
}



/*Background image for main page*/
.head {
  background-image: url("/images/mobileCoffee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}



header {
  background-color: #360D0C;
}

li {
  list-style-type: none;

}

a {
  color: white;
  text-decoration: none;
}

.navItem {

  font-size: 1.5em;
}

.nav-bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  border-radius: 1% 0 0 100%
}

.logo {
  font-size: 3em;
  font-family: smooch;
}

.navLink {
  transition: 0.8s;
}

.navLink:hover {
  color: #360D0C;
}

.ham {
  display: none;
  cursor: pointer;
}

.barOne {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.restRelax {
  font-size: 2em;
  font-family: serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

#mainBtn {
  padding: 1em;
  border-radius: 20px 20px;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}


.mainPageBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}





.menuCoffee {
  color: white;
  text-align: center;
  font-family: serif;
}

.coffeeMenu {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

img {
  width: 100%;
}

.coffeeType {
  text-align: center;
  font-size: 1.5em;
  color: #360D0C;

}

.coffeeDescription {
  text-align: center;
  padding: .5em;
}

form{
  width: 100%;
  text-align: center;
  padding: .5em;
  background-color: #360D0C;
  color: whitesmoke;
  
}

.coffeeContainer {
  background-color: #E3BB85;
  color: black;

}

#btnOne {
  display: none;
}

.coffeeOne {

  flex: 1;

}

.coffeeTwo {

  flex: 1;
}

.coffeeThree {

  flex: 1;
}

.coffeeFour {

  flex: 1;
}

.coffeeFive {

  flex: 1;
}

.coffeeSix {

  flex: 1;
}






@media screen and (max-width:768px) {
  .ham {
    display: block;
  }

  .ham.active .barOne:nth-child(2) {
    opacity: 0;
  }

  .ham.active .barOne:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .ham.active .barOne:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: 100%;
    top: 70px;
    gap: .5em;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E2B874;
    width: 50%;
    padding: .5em;
    transition: 0.7s;

  }

  .navMenu.active {
    left: 50%;
  }

}

@media screen and (min-width:780px) {
  img {
    width: 50%;
  }

  .coffeeContainer {
    background-color: transparent;
    float: right;
    width: 50%;
    position: relative;
     top: 0em;
  }

  form {
    display: none;
    width: 100%;
  }

  .restRelax {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 2em;

  }

  .navLink:hover {
    color: #E2B874;
  }

  #cafeOne {

    padding: 4em;

  }

  .btnS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
  }

   #btnOne {
    display: block;
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    padding: .5em;
    border-radius: 20px 20px;
}
   
  #btnOne:hover{
  color: #E3BB85;
  border: 2px solid #E3BB85;
  transition: 0.75s;
}

  .coffeeType {
    color: whitesmoke;
  }

  .coffeeDescription {
    color: whitesmoke;
  }

}