*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body html{
  height: 100%;
}

.nav-bar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo{
  font-size: 3em;
}

